HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/.metadata/


## Docker ###
/docker/oracle

### Gradle ###
.gradle

## AngularJS ###
/lib/angular-1.8.2
/lib/bootstrap-3.4.1-dist

/node_modules
/bower_components